/* Pokemon Card Skeleton */

.cardSkeleton {
  position: relative;
  flex-shrink: 0;
  width: 300px;
  height: 440px;

  border-radius: 12px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  background: #f1f1f1;
}

.cardSkeletonHeader {
  display: flex;
  align-items: center;
  padding: 24px 24px 0px 24px;
}

.cardSkeletonHeaderName {
  width: 150px;
  height: 32px;
  margin-right: auto;
  background: white;
  border-radius: 100px;
}

.cardSkeletonHeaderCode {
  width: 50px;
  height: 24px;
  background: white;
  border-radius: 100px;
}

.cardSkeletonBody {
  position: absolute;
  bottom: 5px;
  left: 5px;
  right: 5px;
  height: calc(100% - 160px);
  background-color: transparent;
  border-radius: 12px;
}

.cardSkeletonBodyPokemonImg {
  position: absolute;
  bottom: calc(100% - 30px);
  left: 50%;
  transform: translate(-50%, 0);
  height: 100px;
  width: 100px;
  background: white;
  border-radius: 100px;
}

.cardSkeletonBodyTypes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  margin-top: 50px;
}

.cardSkeletonBodyTypeBadge {
  display: flex;
  align-items: center;
  height: 30px;
  width: 30px;
  padding: 0 10px;
  border-radius: 100px;
  background: white;
}

.cardSkeletonBodyDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 0;
}

.cardSkeletonBodyDetailsContent {
  height: 58px;
  width: 180px;
  background: white;
  border-radius: 100px;
}

.cardSkeletonBodyDetailsContent:last-child {
  border-right: none;
}

.cardSkeletonBodyDetailsContentData {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 10px;
  line-height: 16px;
}

.cardSkeletonBodyDetailsContentDataImg {
  height: 16px;
  width: 16px;
  margin-right: 8px;
}

.cardSkeletonBodyDetailsContentTitle {
  text-align: center;
  font-size: 8px;
  line-height: 12px;
  color: #666666;
}

.cardSkeletonBodyDescription {
  height: 96px;
  margin: 0 auto;
  width: 90%;
  background: white;
  border-radius: 20px;
}
