:root {
  --color-primary: #dc0a2d;

  --color-bug: #a7b723;
  --color-dark: #75574c;
  --color-dragon: #7037ff;
  --color-electric: #f9cf30;
  --color-fairy: #e69eac;
  --color-fighting: #c12239;
  --color-fire: #f57d31;
  --color-flying: #a891ec;
  --color-ghost: #70559b;
  --color-grass: #74cb48;
  --color-ground: #dec16b;
  --color-ice: #9ad6df;
  --color-normal: #aaa67f;
  --color-poison: #a43e9e;
  --color-psichyc: #fb5584;
  --color-rock: #b69e31;
  --color-steel: #b7b9d0;
  --color-water: #6493eb;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  scrollbar-gutter: stable;
}

body {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
