:root {
  --color-primary: #dc0a2d;

  --color-rock: #b69e31;
  --color-ghost: #70559b;
  --color-steel: #b7b9d0;
  --color-water: #6493eb;
  --color-grass: #74cb48;
  --color-psychic: #fb5584;
  --color-ice: #9ad6df;
  --color-dark: #75574c;
  --color-fairy: #e69eac;
  --color-normal: #aaa67f;
  --color-fighting: #c12239;
  --color-flying: #a891ec;
  --color-poison: #a43e9e;
  --color-ground: #dec16b;
  --color-bug: #a7b723;
  --color-fire: #f57d31;
  --color-electric: #f9cf30;
  --color-dragon: #7037ff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  scrollbar-gutter: stable;
}

body {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

/* PokemonCard */
.poke-card {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
  width: 300px;
  height: 440px;
  border-radius: 12px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);

  background-color: var(--main-type);
}

.poke-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 24px 24px 0px 24px;
  color: white;
  font-weight: 700;
}

.poke-card-header-name {
  font-size: 24px;
  text-transform: capitalize;
}

.poke-card-header-code {
  font-size: 12px;
}

.poke-card-body {
  position: relative;
  margin: 5px;
  height: calc(100% - 160px);
  background-color: white;
  border-radius: 12px;
}

.poke-card-body-pokemon-img {
  position: absolute;
  bottom: calc(100% - 49px);
  left: 50%;
  transform: translate(-50%, 0);
  height: 140px;
  max-width: 250px;
}

.poke-card-body-favorite-container {
  display: flex;
  justify-content: flex-end;

  height: 56px;
  padding: 8px;

  color: var(--main-type);
}

.poke-card-body-favorite-button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 32px;
  width: 32px;
  border-radius: 100px;

  border: unset;
  background-color: unset;

  color: inherit;
}

.poke-card-body-favorite-button:hover {
  background-color: rgba(0, 0, 0, 0.1);

  cursor: pointer;
}

.poke-card-body-types {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.poke-card-body-about {
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: var(--main-type);
}

.poke-card-body-details {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}

.poke-card-body-details-content {
  padding: 0 24px;
  border-right: 1px solid #e0e0e0;
}

.poke-card-body-details-content:last-child {
  border-right: none;
}

.poke-card-body-details-content-data {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 10px;
  line-height: 12px;
}

.poke-card-body-details-content-data-img {
  height: 16px;
  width: 16px;
  margin-right: 8px;
}

.poke-card-body-details-content-title {
  text-align: center;
  font-size: 8px;
  line-height: 12px;
  color: #666666;
}

/* Pokemon Card Skeleton */

.poke-card-skeleton {
  position: relative;
  flex-shrink: 0;
  width: 300px;
  height: 440px;

  border-radius: 12px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  background: #f1f1f1;
}

.poke-card-skeleton-header {
  display: flex;
  align-items: center;
  padding: 24px 24px 0px 24px;
}

.poke-card-skeleton-header-name {
  width: 150px;
  height: 32px;
  margin-right: auto;
  background: white;
  border-radius: 100px;
}

.poke-card-skeleton-header-code {
  width: 50px;
  height: 24px;
  background: white;
  border-radius: 100px;
}

.poke-card-skeleton-body {
  position: absolute;
  bottom: 5px;
  left: 5px;
  right: 5px;
  height: calc(100% - 160px);
  /*height: 240px;*/
  background-color: transparent;
  border-radius: 12px;
}

.poke-card-skeleton-body-pokemon-img {
  position: absolute;
  bottom: calc(100% - 30px);
  left: 50%;
  transform: translate(-50%, 0);
  height: 100px;
  width: 100px;
  background: white;
  border-radius: 100px;
}

.poke-card-skeleton-body-types {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 56px;
}

.poke-card-skeleton-body-type-badge {
  display: flex;
  align-items: center;
  height: 30px;
  width: 50px;
  margin-right: 16px;
  padding: 0 10px;
  border-radius: 100px;
  background: white;
}

.poke-card-skeleton-body-type-badge:last-child {
  margin-right: 0;
}

.poke-card-skeleton-body-details {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 0;
}

.poke-card-skeleton-body-details-content {
  height: 50px;
  width: 180px;
  background: white;
  border-radius: 100px;
}

.poke-card-skeleton-body-details-content:last-child {
  border-right: none;
}

.poke-card-skeleton-body-details-content-data {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 10px;
  line-height: 16px;
}

.poke-card-skeleton-body-details-content-data-img {
  height: 16px;
  width: 16px;
  margin-right: 8px;
}

.poke-card-skeleton-body-details-content-title {
  text-align: center;
  font-size: 8px;
  line-height: 12px;
  color: #666666;
}

.poke-card-skeleton-body-description {
  height: 60px;
  margin: 0 auto;
  width: 90%;
  background: white;
  border-radius: 20px;
}
